@tailwind base;
@tailwind components;
@tailwind utilities;

img, button, a  {
    transition-duration: 500ms;
}

svg, path {
    transition-duration: 0ms;
}

.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid currentcolor;
    opacity: 1;
    border-radius: 50%;
    background-color: white;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.lds-ripple div:nth-child(3) {
    animation-delay: -.7s;
}

@keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    4.9% {
        top: 90px;
        left: 36px;
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    5% {
        top: 90px;
        left: 90px;
        width: 20px;
        height: 20px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

